body {
  margin: 0;
  overflow: hidden;
  background: #000; /* fundo preto */
}

canvas {
    display: block;
  position: fixed; /* cobre toda a tela */
  top: 0;
  left: 0;
  z-index: 0; /* fica no fundo */
}
  
.informaçoes {
    color: aliceblue;
    border: 3px solid #4d4545;
    text-align: center;
    align-items: center;
    padding: 20px;
    margin: 50px;
   width:500px ;
}

.informaçoes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  z-index: 1; /* fica acima do canvas */
}

.informaçoes h1 {
  font-size: 3em;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #fff, 0 0 20px #0ff;
}

.informaçoes p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.informaçoes button {
  padding: 10px 20px;
  font-size: 1.1em;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.informaçoes button:hover {
  background: rgba(255, 255, 255, 0.5);
}

